html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: 'cdBlack';
  src: url('./assets/font/cdBlack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cdSemibold';
  src: url('./assets/font/cdSemibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.main {
  background-color: #F5F7FA;
  color: #1A4B8F;
  min-height: 100vh;
  width: 100vw;
  font-family: "cdSemibold", sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h3,
h2,
p {
  margin: 0;
  padding: 0;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  flex: 1;
}
.card {
  padding: 20px;
  width: 50px;
  height: 500px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
  font-family: 'cdBlack', sans-serif;
}
.card:hover {
  transform: scale(1.08);
  transition: all 0.8s ease-out;
}
.card .txt {
  display: none;
}
.card h1 {
  font-size: 24px;
}
.card p {
  font-size: 12px;
}
#c1 {
  background-image: url("./assets/img/6.png");
  background-size: cover;
  background-position: center center;
}
#c2 {
  background-image: url("./assets/img/7.png");
  background-size: cover;
  background-position: center center;
}
#c3 {
  background-image: url("./assets/img/8.png");
  background-size: cover;
  background-position: center center;
}
#c4 {
  background-image: url("./assets/img/9.png");
  background-size: cover;
  background-position: center center;
}
#c5 {
  background-image: url("./assets/img/10.png");
  background-size: cover;
  background-position: center center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.content.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'cdSemibold', sans-serif;
}
.content .right p {
  font-size: 12px;
}
.content .left h1 {
  font-size: 28px;
}
.content .left h3 {
  font-size: 16px;
}
.right {
  width: 50%;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
